.jump {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-top: auto;
}
.jump-link {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 100%;
    font-size: 20px;
    span {
        display: block;
        margin-bottom: 12px;
    }
}
.jump-link::after {
    content: "";
    display: block;
    background-image: url("./assets/arrow.svg");
    background-image: url("./assets/arrow.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 35px;
    height: 35px;
    rotate: 90deg;
    margin: 0 auto;
}