@use "../utils/variables" as *;

.section-portfolio {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.portfolio-item {
    position: relative;
    display: block;
    width: 100%;
    aspect-ratio: 1/1;
    overflow: hidden;
    img {
        width: 100%;
        height: 100%;
    }
}
.portfolio-item__title,
.portfolio-item__category {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    color: white;
}
.portfolio-item__title {
    bottom: 45px;
    font-size: 26px;
}
.portfolio-item__category {
    bottom: 15px;
    font-size: 15px;
}


@media (min-width: 768px) {
    .section-portfolio {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px
    }
    .portfolio-item {
        aspect-ratio: unset;
        img {
            aspect-ratio: 1/1;
            width: 100%;
            height: auto;
        }
    }
    .portfolio-item__title,
    .portfolio-item__category {
        position: relative;
        display: block;
        color: black;
        inset: unset;
    }
}